* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
}

#first-div {
    /* margin: 200px 50px; */
    border: blue dotted 5px;
}

.heading-one {
    background-color: bisque;
    color: red;
    border: 3px solid blue;
    border-radius: 100%;
    padding: 40px 100px;
    margin: 100px;
    height: 400px;
    width: 400px;
}

p {
    width: 500px;
    height: 500px;
    border: pink 2px solid;
    padding: 200px;
}