* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Krona One', sans-serif;;
}

#hero-section {
    background-color: #EAB320;
}

#logo {
    width: 100px;
    padding: 20px;
}

#hero-img-name{
    display: flex;  
    justify-content: center;
    gap: 100px;
    padding: 100px 0;
}

#my-img {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    background-color: black;
}

#my-name {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    text-transform: uppercase;
    color: #343333;
    font-size: 24px;
}

#name {
    font-size: 48px;
    color: black;
}

#about-section {
    padding: 100px 200px;
}

.heading {
    font-size: 48px;
    color: black;
    text-decoration: underline;
}

#about-me {
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 50px;
    font-family: "Lato";
    font-size: 30px;
    padding: 30px;
    letter-spacing: 2px;
    line-height: 2;
}

